
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">ĐĂNG NHẬP</h2>
            <div class="card my-5 custom-card">
                <form method="post" action="@Url.Action("Login", "Home")" class="card-body p-lg-5">
                    <div class="text-center">
                        <img src="~/Images/LogoKVH.png" class="img-fluid profile-image-pic img-thumbnail my-3" width="200px" alt="profile">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control custom-input" id="UserName" name="UserName" placeholder="Tên người dùng">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control custom-input" id="Password" name="Password" placeholder="Mật khẩu">
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.ThongBao))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ThongBao
                        </div>
                    }
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5 w-100 custom-button">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
