@{
    ViewBag.Title = "DichVu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    
    <div class="main-wrap">
        <div class="container">
            <div class="row hidden-xs">
                <div class="col-md-12">
                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li><a href="/" title="Trang Chủ">Trang Chủ</a></li>

                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="https://www.petmom.vn/dich-vu-cham-soc-thu-cung" itemscope="" itemtype="http://schema.org/Thing" itemprop="item"><span itemprop="name">Dịch vụ thú cưng</span></a>             <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 well well-topic">
                    <article itemscope="" itemtype="http://schema.org/NewsArticle">
                        <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://google.com/article">
                        <header>
                            <h1 itemprop="headline">Dịch vụ thú cưng</h1>
                        </header>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="" class="thumbnail" title="Dịch vụ trông giữ chó mèo">
                                    <div class="img-wrap" style="background-image: url('../Images/DichVu/TrongGiuThuCung.jpg'); background-size: cover; ">
                                        <img src="~/Images/DichVu/TrongGiuThuCung.jpg" alt="Dịch vụ trông giữ chó mèo">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Dịch vụ trông giữ chó mèo</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/cham-soc-thu-cung" class="thumbnail" title="Chăm sóc thú cưng">
                                    <div class="img-wrap" style="background-image: url('../Images/DichVu/chamsocthucung2.jpg'); background-size: cover;">
                                        <img src="~/Images/DichVu/chamsocthucung2.jpg" alt="Chăm sóc thú cưng">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Chăm sóc thú cưng</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/cuu-ho-thu-cung" class="thumbnail" title="Cứu hộ thú cung">
                                    <div class="img-wrap" style="background-image: url(../Images/DichVu/Cuu-ho-thu-cung.jpg); background-size: cover;">
                                        <img src="~/Images/DichVu/Cuu-ho-thu-cung.jpg" alt="Cứu hộ thú cung">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Cứu hộ thú cung</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/khach-san-cho-meo" class="thumbnail" title="Khách sạn chó mèo">
                                    <div class="img-wrap" style="background-image: url(&quot;https://www.petmom.vn/uploads/category/khach-san-cho-meo_1612242262.jpg&quot;); background-size: cover;">
                                        <img src="https://www.petmom.vn/uploads/category/khach-san-cho-meo_1612242262.jpg" alt="Khách sạn chó mèo">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Khách sạn chó mèo</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/spa-cho-thu-cung-la-gi" class="thumbnail" title="Spa cho thú cưng là gì?">
                                    <div class="img-wrap" style="background-image: url(&quot;https://www.petmom.vn/uploads/category/dich-vu-spa-cho-cho-meo_1612248623.jpg&quot;); background-size: cover;">
                                        <img src="https://www.petmom.vn/uploads/category/dich-vu-spa-cho-cho-meo_1612248623.jpg" alt="Spa cho thú cưng là gì?">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Spa cho thú cưng là gì?</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/dich-vu-tam-cho-cho-meo" class="thumbnail" title="Dịch vụ tắm cho chó mèo">
                                    <div class="img-wrap" style="background-image: url(&quot;https://www.petmom.vn/uploads/category/tam-cho-cho-meo_1612248603.jpg&quot;); background-size: cover;">
                                        <img src="https://www.petmom.vn/uploads/category/tam-cho-cho-meo_1612248603.jpg" alt="Dịch vụ tắm cho chó mèo">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Dịch vụ tắm cho chó mèo</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/cat-tia-long-cho-cho-meo" class="thumbnail" title="Dịch vụ cắt tỉa lông chó mèo">
                                    <div class="img-wrap" style="background-image: url(&quot;https://www.petmom.vn/uploads/category/cat-tia-long-cho-meo_1612248645.jpg&quot;); background-size: cover;">
                                        <img src="https://www.petmom.vn/uploads/category/cat-tia-long-cho-meo_1612248645.jpg" alt="Dịch vụ cắt tỉa lông chó mèo">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Dịch vụ cắt tỉa lông chó mèo</span></div>
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="https://www.petmom.vn/thoi-trang-thu-cung" class="thumbnail" title="Thời trang thú cưng">
                                    <div class="img-wrap" style="background-image: url(&quot;https://www.petmom.vn/uploads/category/thoi-trang-thu-cung_1612249248.jpg&quot;); background-size: cover;">
                                        <img src="https://www.petmom.vn/uploads/category/thoi-trang-thu-cung_1612249248.jpg" alt="Thời trang thú cưng">
                                    </div>
                                    <div class="caption" style="height: 70px;text-align: center"><span style="line-height: 35px">Thời trang thú cưng</span></div>
                                </a>
                            </div>
                        </div>

                        
                        
                    </article>
                </div>
                <div class="col-md-4 hidden-xs">
                    
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                @Html.Action("DangKyDichVu", "DichVu")
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>