
@{
    ViewBag.Title = "FormDatLich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-dat-lich">
    <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-input" aria-required="true" aria-invalid="false" placeholder="Tên bố/mẹ: *"></span><i id="icon-form" class="icon-user"></i></p>
    <p><span class="wpcf7-form-control-wrap your-number"><input type="tel" name="your-number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel contact-input" aria-required="true" aria-invalid="false" placeholder="Số điện thoại bố/mẹ: *"></span><i id="icon-form" class="icon-phone"></i></p>
    <p><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email contact-input" aria-invalid="false" placeholder="Email"></span><i id="icon-form" class="icon-envelop"></i></p>
    <div data-wpcf7-group-id="your-pets" id="your-pets-groups" tabindex="1" class="wpcf7-field-groups ">
        <div class="wpcf7-field-group">
            <div class="form-contact-twocol">
                <div id="info-left">
                    <p><span class="wpcf7-form-control-wrap your-pet__1"><input type="text" name="your-pet__1" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-input" aria-required="true" aria-invalid="false" placeholder="Tên bé: *"></span><i id="icon-form" class="icon-tag"></i></p>
                </div>
                <div id="info-right">
                    <p><span class="wpcf7-form-control-wrap pet-old__1"><input type="text" name="pet-old__1" value="" size="40" class="wpcf7-form-control wpcf7-text contact-input" aria-invalid="false" placeholder="Giống/Tuổi:"></span><i id="icon-form" class="icon-heart"></i></p>
                </div>
            </div>
            <p><button type="button" class="wpcf7-field-group-remove " style="display: none;">- Xoá bỏ</button><button type="button" class="wpcf7-field-group-add ">+ Thêm bé khác</button><input type="hidden" class="wpcf7-field-group-count" name="_wpcf7_groups_count[your-pets]__1" value="3"></p>
        </div>
        <div class="wpcf7-field-group">
            <div class="form-contact-twocol">
                <div id="info-left">
                    <p><span class="wpcf7-form-control-wrap your-pet__2"><input type="text" name="your-pet__2" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-input" aria-required="true" aria-invalid="false" placeholder="Tên bé: *"></span><i id="icon-form" class="icon-tag"></i></p>
                </div>
                <div id="info-right">
                    <p><span class="wpcf7-form-control-wrap pet-old__2"><input type="text" name="pet-old__2" value="" size="40" class="wpcf7-form-control wpcf7-text contact-input" aria-invalid="false" placeholder="Giống/Tuổi:"></span><i id="icon-form" class="icon-heart"></i></p>
                </div>
            </div>
            <p><button type="button" class="wpcf7-field-group-remove ">- Xoá bỏ</button><button type="button" class="wpcf7-field-group-add ">+ Thêm bé khác</button><input type="hidden" class="wpcf7-field-group-count" name="_wpcf7_groups_count[your-pets]__2" value="3"></p>
        </div><div class="wpcf7-field-group">
            <div class="form-contact-twocol">
                <div id="info-left">
                    <p><span class="wpcf7-form-control-wrap your-pet__3"><input type="text" name="your-pet__3" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required contact-input" aria-required="true" aria-invalid="false" placeholder="Tên bé: *"></span><i id="icon-form" class="icon-tag"></i></p>
                </div>
                <div id="info-right">
                    <p><span class="wpcf7-form-control-wrap pet-old__3"><input type="text" name="pet-old__3" value="" size="40" class="wpcf7-form-control wpcf7-text contact-input" aria-invalid="false" placeholder="Giống/Tuổi:"></span><i id="icon-form" class="icon-heart"></i></p>
                </div>
            </div>
            <p><button type="button" class="wpcf7-field-group-remove ">- Xoá bỏ</button><button type="button" class="wpcf7-field-group-add ">+ Thêm bé khác</button><input type="hidden" class="wpcf7-field-group-count" name="_wpcf7_groups_count[your-pets]__3" value="3"></p>
        </div>
    </div>
    <p class="mb-3"><b>Dịch vụ:</b></p>
    <p class="list-check-dv"><span class="wpcf7-form-control-wrap checkbox-143"><span class="wpcf7-form-control wpcf7-checkbox" aria-invalid="false"><span class="wpcf7-list-item first"><label><span class="wpcf7-list-item-label">Spa 9 bước thơm tho</span><input type="checkbox" name="checkbox-143[]" value="Spa 9 bước thơm tho"></label></span><span class="wpcf7-list-item"><label><span class="wpcf7-list-item-label">Grooming tạo kiểu</span><input type="checkbox" name="checkbox-143[]" value="Grooming tạo kiểu"></label></span><span class="wpcf7-list-item"><label><span class="wpcf7-list-item-label">Hồ bơi thú cưng - sân chơi</span><input type="checkbox" name="checkbox-143[]" value="Hồ bơi thú cưng - sân chơi"></label></span><span class="wpcf7-list-item"><label><span class="wpcf7-list-item-label">Trông giữ qua đêm (Hotel)</span><input type="checkbox" name="checkbox-143[]" value="Trông giữ qua đêm (Hotel)"></label></span><span class="wpcf7-list-item last"><label><span class="wpcf7-list-item-label">Trông giữ trong ngày (Daycare)</span><input type="checkbox" name="checkbox-143[]" value="Trông giữ trong ngày (Daycare)"></label></span></span></span></p>
    <p><span class="wpcf7-form-control-wrap date-344"><input type="date" name="date-344" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date" min="2023-04-23" aria-invalid="false" placeholder="Thời gian muốn đặt lịch"></span><i id="icon-form" class="icon-search"></i></p>
    <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea contact-input" aria-invalid="false" placeholder="Ghi chú cho VuiPet..."></textarea></span><i id="icon-form" class="icon-chat"></i></p>
    <p></p><center><input type="submit" value="Đặt lịch ngay" class="wpcf7-form-control wpcf7-submit mywebsite-custom-button secondary" id="form_dat_lich" aria-invalid="false"><span class="ajax-loader"></span></center>
</div>

